/*定义系统的主题色*/
$background = #fff // 主色
$background_primary1 = #fff
$background_primary2 = #444

$background_2 = #ecf0f3 // 辅色
// 选中字体颜色
$font_color_active = #fff
// 系统标题颜色
$font_head_title_primary1 = #525371
$font_head_title_primary2 = #fff
// 默认字体颜色
$font_color = #7a849c
$font_color_primary1 = #7a849c
$font_color_primary2 = #e0dcdc

$divide_color = #eee
$arrow_color = #bdc4ca
$confirm_color = #3ecfba
$loading_color = #657acb
// navigation
$nav_active_background = #657acb
$nav_font_color = #7b8aac
$nav_icon_color = #939fba
// search
$search_bg_color = #edf1f4
$search_border_color = #ddd
$search_border_color_focus = #65839e
$search_icon_color = #a7b7c1
// input
$input_border_color = #ddd
$input_font_color = #2a3c63
$input_focus_border_color = #65839e
$input_placeholder_color = #7F8EBB
// select
$select_icon_color = #B3B8C6
$select_hover_bg_color = #657ACB
$select_hover_border_color = $input_focus_border_color
$select_hover_font_color = $font_color_active
$select_dropdown_border_color = #BBCCDC
$select_dropdown_font_color = rgba(42,60,99,0.8)
$select_checkbox_color = #657ACB
$select_scrollbar_bg_color = #EEF1F3
$select_scrollbar_color = #BDC3DA
// switch
$switch_color = #9EA6AF
$switch_bg_color = #eee
$switch_border_color = #EEEEEE
$switch_selected_color = #fff
$switch_selected_bg_color = $confirm_color
// button
$botton_bg_color = #657acb
$botton_font_color = #fff  //按钮字体颜色
$botton_hover_bg_color = #6885f7
$botton_active_bg_color = #475DB4 //按钮active背景颜色
$button_disable_color =  #DDDDDD
$button_disable_fontcolor = #fff
$tbutton_loading_borfercolor = #BBBBBB
// more-button
$mbotton_bg_color = #3ECFBA
$mbotton_font_color = #fff
$mbotton_hover_bg_color = #3BE1C9
$mbotton_active_bg_color = #25BAA4
// tabel-button
$tbotton_font_color = #2C2C90
$tbotton_bg_color = #F0F1FC
$tbotton_font_hover_color = #fff
$tbotton_hover_bg_color = #657ACB
$tbotton_active_bg_color = #425AB6
// radio-group
$radio_border_color = #c8cbd4
$radio_bg_color = $background
$radio_font_color = #7f8ebb
$radio_hover_font_color = $confirm_color
$radio_active_bg_color = $confirm_color
$radio_active_font_color = $font_color_active
// topo
$topo_tabs_bg_color = #dcdfe0
$topo_tabs_font_color = #7c8ea1
$topo_tabs_active_bg_color = $background
$topo_tabs_active_font_color = #21304f
$topo_tabs_close_hover_color = #576e87
$topo_tabs_scoll_color = #9caec1
$topo_tabs_scoll_disabled_color = #cbd3db
$topo_bg_line_color = #f4f4f4
$topo_bg_color = $background
$topo_ne_color = #657acb
$topo_link_color = #acbbf5
$topo_oa_color = #657acb
$topo_link_select_color = #657acb
// topo-panel
$topo_panle_bg_color = #EFF3F5
$topo_panle_title_color = #576A93
$topo_panle_font_color = #98A4BC
$topo_panle_lefticon_color = #ACB7CE
// topo-panel-timeTool
$topo_timetool_border_color = rgba(30,50,87,0.15)
$topo_timetool_font_color = #3B4865
$topo_timetool_time_color = #657ACB
// message
$message_boxshadow_color = rgba(25,23,53,0.24)
$message_iconsucc_color = #3ECFBA
$message_iconfail_color = #EE504D
$message_font_color = #3B4865
